<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hawk.admin.persistence.dao.SysDeptMapper">

    <resultMap id="BaseResultMap"
               type="com.hawk.admin.persistence.entity.SysDept">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="order_num" jdbcType="INTEGER" property="orderNum"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"
                javaType="java.util.Date"/>
        <result column="last_update_by" jdbcType="VARCHAR"
                property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP"
                property="lastUpdateTime" javaType="java.util.Date"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        parent_id,
        order_num,
        create_by,
        create_time,
        last_update_by,
        last_update_time,
        del_flag
    </sql>

    <insert id="insert"
            parameterType="com.hawk.admin.persistence.entity.SysDept">
     INSERT INTO sys_dept (
        id,
        name,
        parent_id,
        order_num,
        create_by,
        create_time,
        last_update_by,
        last_update_time,
        del_flag
     ) VALUES (
        #{id,jdbcType=BIGINT},
        #{name,jdbcType=VARCHAR},
        #{parentId,jdbcType=BIGINT},
        #{orderNum,jdbcType=INTEGER},
        #{createBy,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{lastUpdateBy,jdbcType=VARCHAR},
        #{lastUpdateTime,jdbcType=TIMESTAMP},
        #{delFlag,jdbcType=TINYINT}
     )
    </insert>

    <insert id="insertBatch"
            parameterType="list">
        INSERT INTO sys_dept (
        id,
        name,
        parent_id,
        order_num,
        create_by,
        create_time,
        last_update_by,
        last_update_time,
        del_flag
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.name,jdbcType=VARCHAR},
            #{item.parentId,jdbcType=BIGINT},
            #{item.orderNum,jdbcType=INTEGER},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.lastUpdateBy,jdbcType=VARCHAR},
            #{item.lastUpdateTime,jdbcType=TIMESTAMP},
            #{item.delFlag,jdbcType=TINYINT}
            )
        </foreach>
    </insert>

    <insert id="insertSelective"
            parameterType="com.hawk.admin.persistence.entity.SysDept">
        INSERT INTO sys_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateBy != null">
                last_update_by,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="orderNum != null">
                #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey"
            parameterType="java.lang.Long">
     DELETE FROM sys_dept WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteBatchByPrimaryKeys"
            parameterType="list">
        DELETE FROM sys_dept
        WHERE id IN (
        <foreach collection="list" item="item" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
        )
    </delete>

    <update id="updateByPrimaryKeySelective"
            parameterType="com.hawk.admin.persistence.entity.SysDept">
        UPDATE sys_dept
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey"
            parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByConditions"
            parameterType="com.hawk.admin.persistence.entity.SysDept"
            resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept
        <where>

            <if test="id != null">
                AND id = #{id,jdbcType=BIGINT}
            </if>

            <if test="name != null and name != ''">
                AND name = #{name,jdbcType=VARCHAR}
            </if>

            <if test="parentId != null">
                AND parent_id = #{parentId,jdbcType=BIGINT}
            </if>

            <if test="orderNum != null">
                AND order_num = #{orderNum,jdbcType=INTEGER}
            </if>

            <if test="createBy != null and createBy != ''">
                AND create_by = #{createBy,jdbcType=VARCHAR}
            </if>

            <if test="createTime != null">
                AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>

            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                AND last_update_by = #{lastUpdateBy,jdbcType=VARCHAR}
            </if>

            <if test="lastUpdateTime != null">
                AND last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
            </if>

            <if test="delFlag != null">
                AND del_flag = #{delFlag,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <!--自定义sql-->
    <resultMap id="recursionDeptMap"
               type="com.hawk.admin.persistence.entity.SysDept"
               extends="BaseResultMap">
        <collection property="children" javaType="java.util.List" column="id"
                    select="findDeptByParentId"
        ></collection>
    </resultMap>
    <!--递归查询所有部门及子部门信息-->
    <select id="findAllRecursion" resultMap="recursionDeptMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept
        WHERE parent_id = 0 or parent_id is NULL
        ORDER BY order_num ASC
    </select>

    <select id="findDeptRecursion" resultMap="recursionDeptMap"
            parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept
        WHERE parent_id = #{id,jdbcType=BIGINT}
        ORDER BY order_num ASC
    </select>

    <select id="findDeptByParentId" resultMap="recursionDeptMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dept WHERE parent_id = #{id}
        ORDER BY order_num ASC
    </select>

</mapper>
